.main-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
}
.card{
  height:350px;
  width:300px;
  background-color:hsl(360,30%,30%);
  color:#fff;
  border-radius: 6px;
  padding:50px 20px;
}
.card .user_info {
  text-align: center;
}
.card .img {
  text-align: center;
}
.card .img img{
  
  height:150px;
  width:150px;
  border-radius: 50%;
}