.card{
  color:white;
  border-radius: 15px;
  background-color: hsl(360,40%,50%);
  padding:20px 40px;
  margin-bottom:30px;
}
.nav{
  color:#fff;
  font-size: 3rem;
  background-color:hsl(360,1%,1%);
  padding:20px 50px;
}